.matyou_post_author_headline_section {
  display: flex;
  justify-content: center;

  header {
    padding: 4em 4em;
    max-width: 100em;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(2em, 2vw, 3em);
    justify-content: center;
    align-items: flex-start;
    background-color: var(--matyou_primary_variant_much_darker);
    border-radius: 3em;
    align-items: center;

    img {
      border-radius: 2em;
      height: auto;
      width: auto;
      max-width: 160px;
      min-width: 120px;
      flex: 1;
    }

    .matyou_author_data {
      font-size: 1.4rem;
      flex: 1 0 70%;

      h1 {
        font-size: 3.6rem;
        margin-top: 0;
      }

      .matyou_author_name::before {
        content: "@";
      }

      .matyou_author_name::after {
        content: "‧";
        margin: 0 0.5em;
      }
    }
  }

  & + main {
    margin-top: 2em;

    .matyou_post_card .matyou_post_card_author_row {
      display: none;
    }
  }
}

.matyou_archive_headline {
  text-align: center;
}
